dinozaury{
background-color:white;
}
rodzaj{
background-color:yellow;    
}
podrzad{
display:inline-block;
background-color:grey;
margin-top:10px;
padding-top:10px;
padding-right:10px;
padding-left:10px;
border-style:solid;
border-width:3px;
border-color:black; 
}
rodzaj{
display:inline-block;
background-color:grey;
margin-top:10px;
padding-top:10px;
padding-right:10px;
padding-left:10px;
border-style:solid;
border-width:3px;
border-color:black;
outline-style:groove;
}
rodzaj{
padding-top:5px;
padding-left:5px;
padding-right:10px;
padding-bottom:5px;
display:block;
border-style:solid;
border-width:3px;
border-color:black;
outline-offset:5px;
background-color:yellow; 
}
rodzaj+rodzaj{
margin-bottom:10px;
margin-top:10px;
}
nazwa_polska{
padding-top:5px;
padding-left:5px;
padding-right:10px;
padding-bottom:5px;
display:block;
border-style:solid;
border-width:3px;
border-color:black;
outline-offset:5px;
background-color:red; 
}
rzasd:before{
content:attr(nazwa_lacinska);
    position:absolute;
  top: 0;
  border: 3px solid blue;
  padding:3px;
  font-style:italic;
display: block;
border-style:solid;
border-width:3px;
border-color:black  
}
podrzad:before{
content:attr(nazwa_polska) ' ' "\A(" attr(nazwa_lacinska) ")";
white-space:pre;
font-size:20px;
font-weight:bold;
font-family:fantasy;

}
nazwa_lacinska{
    font-size:50px;
}
rodzaj::before{
content:attr(nazwa_polska) ' ' "\A(" attr(nazwa_lacinska) ")";
white-space:pre; 
font-size:20px;
font-weight:bold;
font-family:fantasy;
color:white;
display: block;
border-style:solid;
border-width:3px;
border-color:red;
background-color:black;
}

rodzaj:has(>podrzad):hover
{
    background-color:cyan;
}
znaczenie_nazwy{
display:block;
}
pozywienie{
display:none;    
}
znaczenie_nazwy::before{
content: "znaczenie nazwy: ";
font-weight:bold;
}
dlugosc{
display:block;
}
dlugosc::before{
content: "długość: ";
font-weight:bold;
}
dlugosc::after{
content: " " attr(jednostka);
}
wysokosc::before{
content: "wysokość: ";
font-weight:bold;
}
wysokosc::after{
content: " " attr(jednostka);
}
wysokosc{
display:block;
}
masa{
display:block;
}
masa::before{
content: "masa: ";
font-weight:bold;
}
masa::after{
content:" " attr(jednostka);   
}
okres{
display:block;
}
okres::before{
content:"okres: ";
font-weight:bold;
}
okres::after{
content:" mln lat temu (" attr(nazwa) ")";
}